{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
<h2 class="text-xl font-semibold text-center mb-4">Tic-Tac-Toe</h2>
<div class="text-center mb-4 text-gray-600" id="status">X's Turn</div>

<!-- Game Grid -->
<div class="grid grid-cols-3 gap-2 w-full aspect-square">
  {% for i in range(9) %}
  <div
    class="cell flex items-center justify-center text-2xl font-bold border border-gray-300 cursor-pointer select-none rounded-lg hover:bg-gray-100 transition"
    data-cell="{{ i }}"
    id="{{ i }}"
  ></div>
  {% endfor %}
</div>

<script type="module">
  import { io } from "https://cdn.socket.io/4.8.1/socket.io.esm.min.js";
  const socketio = io()

  let data = {}
  data["id"] = "{{ id }}"
  data["name"] = "{{ name }}"

  socketio.emit("join", data)

  const cells = document.querySelectorAll(".cell");
  const statusEl = document.getElementById("status");

  cells.forEach(cell => {
    cell.addEventListener("click", () => {
      if (cell.textContent) return;
      socketio.emit("player_move", data, cell.id)
    });
  });
</script>
{% endblock %}